<p>This is home page</p>
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
<a href="{% url 'logout' %}"> Logout</a>
<form action="{% url 'search' %}" method="get">
  <label for="id_grouping"> Grouping: </label>
    <input type="text" name="groupingName" id="id_grouping" value="NFL">
  </p>
  <p>
    <label for="id_city"> City: </label>
    <input type="text" name="city" id="id_city" value="East Rutherford">
  </p>
  <p>
    <label for="id_team"> Team: </label>
    <input type="text" name="performerName" id="id_team" value="Giants">
  </p>
  <p>
    <label for="id_venue"> Venue: </label>
    <input type="text" name="venue" id="id_venue" value="Metlife Stadium">
  </p>
  <p>
    <label for="id_date"> Date: </label>
    <input type="text" name="date" id="id_date" value="2014-12-15">
  </p>
  <input type="submit" value="Search">
</form>
<p> some other stuff shown in home page </p>