{% extends "base.html" %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-3 search-bar">
      {% block search %}
      <div class="search-title">
        <p>Search for tickets:</p>
      </div>
      <div class="search-form-wrap">
          <form id="search-form" action="{% url 'search' %}" method="get">
            <div>
              <p>
                <label for="id_grouping"> Grouping: </label>
              </p>
              <input type="text" name="groupingName" id="id_grouping" value="NFL">
            </div>
            <div>
              <p>
                <label for="id_city"> City: </label>
              </p>
              <input type="text" name="city" id="id_city" value="East Rutherford">
            </div>
            <div>
              <p>
                <label for="id_team"> Team: </label>
              </p>
              <input type="text" name="performerName" id="id_team" value="Giants">
            </div>
            <div>
              <p>
                <label for="id_venue"> Venue: </label>
              </p>
              <input type="text" name="venue" id="id_venue" value="Metlife Stadium">
            </div>
            <div>
              <p>
                <label for="id_date"> Date: </label>
              </p>
              <input type="text" name="date" id="id_date" value="2014-12-15">
            </div>
          <button type="submit" class="btn btn-default" id="search-button">Search</button>
        </form>
      </div>
      {% endblock %}
    </div>
    <div class="col-md-9 content">
      {% block content %}
        <p> Some stuff shown in home page </p>
      {% endblock %}
    </div>
  </div>
{% endblock %}