{% extends "index.html" %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/css/search.css">
{% endblock %}

{% block content %}
  <p>Result</p>
  {% if result %}
    {% if result.error %}
      <p>{{ result.error }}</p>
    {% elif result.eventlist %}
      <div class="results">
        {% for id, title in result.eventlist.items %}
          <div>
            {% with id|stringformat:"s" as str_id %}
              <a class="event-title" href={{ "/tickets?eventId="|add:str_id }}>{{ title }}</a>
            {% endwith %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  
</div>
{% endblock %}